#--------------------------------------------------------------------------------------------------------------
# global
#--------------------------------------------------------------------------------------------------------------

build --action_env WORKSPACE_DIR="/workspaces/edo-demo"

test --test_output=all

#--------------------------------------------------------------------------------------------------------------
# C++
#--------------------------------------------------------------------------------------------------------------

# This config 'aarch64' uses external Linaro toolchain
build:aarch64 --crosstool_top=//.bazel/cpp/cross_compile/toolchains/aarch64:linaro_aarch64
build:aarch64 --cpu=aarch64
build:aarch64 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
